<input type='checkbox' id='menu_active' checked/>
<div id='wrapper' class='active'>
  <div id='menu'>
    <span id='site-name'><label for='menu_active'><i class="fa fa-arrow-left"></i><i class="fa fa-bars"></i></label></span>
    <ul>
      <a href='index.html'>
        <li>Home<i class="fa fa-home"></i></li>
      </a>
      <a href='assignments.html'>
        <li>Assignments<i class="fas fa-clipboard-list"></i></li>
      </a>
      <a href='sched.html'>
        <li>Schedule<i class="fas fa-calendar-alt"></i></li>
      </a>
      <a href='readings.html'>
      <li>Readings<i class="fas fa-book-open"></i></li>
      </a>
      <a href='genre.html'>
        <li>Genre<i class="fa fa-send"></i></li>
<a href='about.html'
        <li>About<i class="fas fa-info-circle"></i></li>
      </a>
    </ul>
  </div>
