!<doctype html>
  <html lang="en">
      <head>
  <title>{{ page.title }}</title>
  <meta name="description" content="Test Page for Introducation to Graphic Novels"/>
  <meta charset="UTF-8">
  <meta name="author" content="April Hummons"/>
  <script src="https://use.fontawesome.com/6d083d2b15.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    { % include navigation.html % }
    { % include page-content.html % }
 
    <footer>
      Copyright 2018 April Hummons 
    </footer>
  </body>
  </html>