<doctype html>
  <html lang="en">
      <head>
  <title>Intro to Graphic Novels</title>
  <meta name="description" content="Test Page for Introducation to Graphic Novels"/>
  <meta charset="UTF-8">
  <meta name="author" content="April Hummons"/>
  <script src="https://use.fontawesome.com/6d083d2b15.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <input type='checkbox' id='menu_active' checked/>
    <div id='wrapper' class='active'>
      <div id='menu'>
        <span id='site-name'><label for='menu_active'><i class="fa fa-arrow-left"></i><i class="fa fa-bars"></i></label></span>
        <ul>
          <a href='home.html'>
            <li>Home<i class="fa fa-home"></i></li>
          </a>
          <a href='assignments.html'>
            <li>Assignments<i class="fas fa-clipboard-list"></i></li>
          </a>
          <a href='sched.html'>
            <li>Schedule<i class="fas fa-calendar-alt"></i></li>
          </a>
          <a href='readings.html'>
          <li>Readings<i class="fas fa-book-open"></i></li>
          </a>
          <a href='about.html'>
            <li>Contact<i class="fa fa-send"></i></li>
          </a>
        </ul>
      </div>
  <div id='page-content'>
    <div class="accordion">
     <input class="accordion__radio" type="radio" name="accordion-tabs" id="tab-one" checked/>
     <label class="accordion__label" for="tab-one">{{page.title}} 1
       <span class="accordion-tab--status"></span>
     </label>
     <div class="accordion__content">
       <div class="accordion__content__image__container">
         <img class="accordion__content__image" src="https://source.unsplash.com/random/801x801" alt="placeholder alt text" />
       </div>
       <div class="accordion__content__text">
         <h3 class="accordion__content__text__title">Learning Outcomes
           <hr class="accordion__content__text__horizontal-line" />
         </h3>
         <p class="accordion__content__text__body">
           <p>
  temp text
         </p>
         <p class="accordion__content__text__body">
  stuff
         </p>
       </div>
     </div>
     <input class="accordion__radio" type="radio" name="accordion-tabs" id="tab-two" />
     <label class="accordion__label" for="tab-two">{{page.title}} 2
       <span class="accordion-tab--status"></span>
     </label>
     <div class="accordion__content">
       <div class="accordion__content__image__container">
         <img class="accordion__content__image" src="https://source.unsplash.com/random/802x802" alt="placeholder alt text" />
       </div>
       <div class="accordion__content__text">
         <h3 class="accordion__content__text__title">
            Corporate Ipsum tab 2
           <hr class="accordion__content__text__horizontal-line" />
         </h3>
         <p class="accordion__content__text__body">temp text 
         </p>
         <p class="accordion__content__text__body">temp text 
         </p>
       </div>
     </div>
     <input class="accordion__radio" type="radio" name="accordion-tabs" id="tab-three" />
     <label class="accordion__label" for="tab-three">{{page.title}} 3
       <span class="accordion-tab--status"></span>
     </label>
     <div class="accordion__content">
       <div class="accordion__content__image__container">
         <img class="accordion__content__image" src="https://source.unsplash.com/random/803x803" alt="placeholder alt text" />
       </div>
       <div class="accordion__content__text">
         <h3 class="accordion__content__text__title">
          Academic Integrity
           <hr class="accordion__content__text__horizontal-line" />
         </h3>
         <p class="accordion__content__text__body"> Temp text 1
         </p>
         <p class="accordion__content__text__body">Bearings 1080 smith grind Dylan Rieder launch ramp disaster. John Lucero flypaper goofy footed judo air melancholy nose grab.
        Tem text 2 
         </p>
       </div>
     </div>
     <input class="accordion__radio" type="radio" name="accordion-tabs" id="tab-four" />
     <label class="accordion__label" for="tab-four">{{page.title}} 4
       <span class="accordion-tab--status"></span>
     </label>
     <div class="accordion__content">
       <div class="accordion__content__image__container">
         <img class="accordion__content__image" src="https://source.unsplash.com/random/804x804" alt="placeholder alt text" />
       </div>
       <div class="accordion__content__text">
         <h3 class="accordion__content__text__title">
           Batman Ipsum
           <hr class="accordion__content__text__horizontal-line" />
         </h3>
         <p class="accordion__content__text__body">temp text 3</p>
       </div>
     </div>
   </div>
      </div>
    <footer>
      Copyright 2018 April Hummons 
    </footer>
  </body>
  </html>